*
!.gitignore
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/dw
!wp-content/themes/dw/*
!wp-content/themes/dw/**/*
wp-content/themes/dw/public/*
!vite.config.js
!package.json
!postcss.config.js
